body {
  margin: 5em auto;
  max-width: 50em;

  font-family: "Helvetica", "Arial", sans-serif;
  color: #555;
}

h1 {
  color: #111;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff0000
}

#diagramContainer {
  position: relative;
  width: 650px;
  height: 650px;
  margin: 0 auto;
  z-index: 0;
}

.arrows > path {
  stroke: red;
}

.inputI {
  margin: 0 8px;
  width: 3em;
  position: relative;
}

.padTopAmp {
  position: absolute;
  margin-top: 1px;
  display: inline;
}

.label {
  position: absolute;
  color: #000;
  z-index: 1;
}

#labelI1 {
  position: absolute;
}

#labelI2 {
  position: absolute;
}

#labelI3 {
  position: absolute;
}

#labelI4 {
  position: absolute;
}

#labelI5 {
  position: absolute;
}

#labelI6 {
  position: absolute;
}
